#content {
    background-color: #00B7FF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;

    border-style: dotted;
    height: 40%;
}

.player_button {
    font-size: 20px;
    width: 50%;
    height: 3rem;
}

img {
    width: 50px;
    height: 50px;
}

#players_headline {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}





#btn_start_game {
    float: right;
}

#player_buttons {
    height: 25%;
    float: bottom;
    margin: 10px;
}

.icon:hover {
    background-color: red;
}

.icon {
    background-color: lightskyblue;
    border-style: none;
}



.mini_image {
    width: 25px;
    height: 25px;
}



.mini_player_name {
    display: inline-block;
    font-size: 20px;
    text-align: right;
    width: auto;
}

#created_players_div {
    background-color: lightskyblue;
    border-style: dotted;
    margin: 50px;
    display: none;
    text-align: center;
}

.choose_players_char {
    margin-top: 5px;
}

#created_players_p{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 5px;
}

label {
	display: block;
	font-size: 20px;
}
#character_story_div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* if you don't want #second to wrap below #first */
    background-color: lightskyblue;

}

#new_char_div {
    background-color: lightskyblue;
    width: 90%;
    margin: 20px auto;
}

#wrapper_images {
    padding: 20px;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#img_div_1, #img_div_3 {
    width: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

#img_div_2, #img_div_4 {
    overflow: hidden;
    width: 50%;
}

.center_images_div {
    border-style: dotted;
    margin: 10px;
    padding-left: 40%;
}

#character_story_head {
    margin: 5px 5px 5px 0;
    text-align: center;
}
