#content {
    background-color: #00B7FF;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-style: dotted;
    height: 70%;
    zoom: 70%
}

.player_button {
    font-size: 3rem;
    width: 50%;
    height: 4rem;
}

#new_player_name_p, #new_player_name_textarea {
    font-size: 3rem;
}

#new_player_name_p {
    margin: 5px;
    width: auto;
}

#new_player_name_textarea {
    text-align: center;
    height: 80px;
    width: 70%;
}


img {
    width: 50px;
    height: 50px;
}

#players_headline {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin-top: 10px;
}

#new_player_div {
    margin: 50px;
    background-color: lightskyblue;
    text-align: center;
}

#new_char_div {
    background-color: lightskyblue;
    margin: 25px 50px 50px;
    text-align: center;
}

#new_player_div {
    padding: 5px;
    text-align: center;

}

#btn_start_game {
    float: right;
}

#player_buttons {
    height: 25%;
    float: bottom;
    margin: 10px;
}

.icon:hover {
    border-style: solid;
    background-color: red;
}

.icon {
    background-color: lightskyblue;
    border-style: none;
}

.mini_image {
    width: 40px;
    height: 40px;
}



.mini_player_name {
    display: inline-block;
    font-size: 2rem;
    text-align: right;
    width: auto;
}

#created_players_div {
    background-color: lightskyblue;
    border-style: dotted;
    margin: 50px;
    visibility: hidden;
    text-align: center;
}

.choose_players_char {
    margin-top: 5px;
}